{
  "tabWidth": 2,
  "semi": false,
  "useTabs": false,
  "printWidth": 160,
  "singleQuote": true,
  "bracketSpacing": false,
  "trailingComma": "all",
  "eslintIntegration": true,
  "jsxBracketSameLine": false,
  "pluginSearchDirs": ["."]
}