@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

* {

  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary-color: #fafafa;
  --secondary-color: #7a78ff;
  --accent-color: #ff6d38;
  --heading-color: #333;
  --light-color: #f9f9f9;
  --dark-color: #333;

  --btn-primary-bg: #333;
  --btn-secondary-bg: #8584ff;
  --btn-accent-bg: #ffc412;
  --btn-primary-hover-bg: #e74c3c;
  --btn-secondary-hover-bg: #333;

  --font-family-heading: 'Amatic SC', sans-serif;
  --border-radius: 8px;

  --shadow-sm: 0 2px 5px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 3px 10px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 5px 15px rgba(0, 0, 0, 0.1);
  --shadow-xl: 0 5px 15px rgba(0, 0, 0, 0.2);

  --section-margin: 2rem 0;
  --container-width: 90%;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}




.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  width: 100%;

}

li {
  list-style: none;
  padding: 0 10px;
}

.nav-links {
  display: flex;
  align-items: center;
  margin: 0;

}

.don {
  display: flex;
  background-color: var(--btn-secondary-bg);
  border-radius: 30px;
  padding: 15px;
  justify-content: center;
  align-items: center;

}

.don:hover {
  background-color: var(--btn-secondary-hover-bg);
}

.don a {
  color: var(--light-color);
  text-decoration: none;
}

.don:hover a {
  color: var(--light-color);
}

.navbar a {
  color: var(--heading-color);
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
}

li a:hover {
  color: var(--accent-color);
}

main {
  width: 100%;
  background-color: var(--light-color);
}

.background-img {
  height: 350px;
  width: 100%;
  object-fit: cover;
}

.header-home {
  position: relative;
  height: 520px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width:768px) {
    height: 390px;

  }
}

.search-bar {
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: space-around;
  width: 60%;
  align-items: center;
  padding: 10px;
  background-color: var(--primary-color);
  box-shadow: var(--shadow-xl);
  align-items: end;
  border-radius: 8px;
}

.volunteer-form h2 {
  font-family: var(--font-family-heading);
  font-size: 2.5rem;
}

.presentation {
  position: absolute;
  top: 130px;
  width: 90%;
  text-align: center;
  color: var(--light-color);

  @media screen and (min-width:768px) {
    width: 45%;

  }
}

h1 {
  font-family: var(--font-family-heading);
  margin-bottom: 30px;
  font-size: 2rem;
}

.intro,
.how {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 30px 0;
  width: 100%;
}

.make-difference {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 0 10px;
}

.intro p,
.how>p,
.make-difference>p {
  color: var(--heading-color);
  width: 45%;
}

.how {
  background-color: white;
}

.visite {
  background-color: var(--btn-primary-bg);
  padding: 15px;
  border-radius: 30px;
}

.visite:hover {
  background-color: var(--btn-primary-hover-bg);
}

.visite a {
  color: var(--light-color);
  text-decoration: none;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;

  @media screen and (min-width:380px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: 768px) {

    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--light-color);
  box-shadow: var(--shadow-xl);
}

.card h2 {
  margin: 20px 0;
}

.links {
  display: flex;
  margin: 30px;
  align-items: center;
  gap: 2rem;
  flex-direction: column;

  @media screen and (min-width:768px) {
    flex-direction: row;

  }
}

.volunteer {
  background-color: var(--btn-accent-bg);
  padding: 15px;
  border-radius: 30px;
}

.volunteer a {
  text-decoration: none;
  color: var(--light-color);
}

.visite-header {
  position: relative;
  height: 240px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

  @media screen and (min-width:768px) {
    height: 150px;

  }
}

.users {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  grid-gap: 30px;
  padding: 20px;
  justify-content: center;

  @media screen and (min-width:768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width:1200px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.user-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  box-shadow: var(--shadow-md);

}

.user-card p,
.user-card h3 {
  padding: 10px 20px;
}

.user-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}



.moment {
  color: var(--light-color);
  background-color: #333;
  padding: 15px;
  width: fit-content;
  border-radius: 30px;
  margin: 10px auto;
  text-align: center;
  cursor: pointer;
}

.moment:hover {
  background-color: var(--accent-color);
}

.image-holder {
  height: 250px;

  @media screen and (min-width:1200px) {
    height: 200px;

  }
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin: 2rem 0
}

.pagination button {
  padding: 0.4rem 0.8rem;
  border: none;
  cursor: pointer;
  color: var(--btn-secondary-bg);
  border-radius: 4px;
}

.pagination button.active {
  background-color: var(--btn-secondary-bg);
  color: white;
  font-weight: bold;
}

.hide {
  opacity: 0;
  pointer-events: none;
}

.previous-next {
  display: none;

  @media screen and (min-width:768px) {
    display: block;

  }
}

.labeled {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 100%;

}

.testimony {
  text-align: center;

}

li .disabled {
  pointer-events: none;
  color: var(--accent-color);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}